* {
	margin: 0px;
	padding: 0px;
}

.sh_beef {
	width: 1050px;
	margin: auto;
}

a.sh_a {
	width: 178px;
	text-align: center;
}

.sh_a:link {
	color: #ffba75;
}

.sh_a:visited {
	color: black;
}

.sh_a:hover {
	color: #ffba75;
}

.sh_menu1 {
	width: 1050px;
}

.sh_menu1 ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.sh_menu1 li {
	float: left;
	list-style: none;
	background: #ffba75;
	position: relative;
}

.sh_menu1 li a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 0.5em 1em;
}

.sh_menu1 li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 13.1em;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.sh_menu1 li ul li {
	float: none;
}

.sh_menu1 li ul li ul {
	left: 100%;
	top: 0;
}

.sh_menu1 li:hover {
	background: #0080ff;
}

.sh_menu1 li:hover>ul {
	display: block;
}

.sh_menu1:after {
	content: "";
	display: table;
	clear: both;
}



.sh_h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0px;
}

.sh_p {
	text-align: center;
	margin-bottom: 30px;
	font-size: 20px;
	font-style: oblique;
	color: gray;
}

.sh_type {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 25px;
	list-style: none;
	font-size: 20pt;
	text-align: center;
}

.sh_table {
	width: 1050px;
	height: 130px;
	border-collapse: collapse;
	border-color: #D5D5D5;
}

.sh_re {
	margin-top: 50px;
	margin-left: 700px;
	width: 350px;
	height: 30px;
}

.sh_a1 {
	border-right: 1px solid;
}

.sh_product_main {
	flex-flow: row wrap;
	display: flex;
	justify-content: space-between;
}

img {
	width: 300px;
	height: 300px;
}

.sh_product_middle {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 30px;
}