@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.beef {
	width: 1050px;
	overflow: hidden;
	margin: 150px auto;
	list-style: none;
	margin: auto;
	align-content: center;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu>li {
	width: 20%;
	float: left;
	text-align: center;
	line-height: 40px;
	background-color: #FFCDFF;
}

.submenu1>li {
	line-height: 50px;
}

.submenu1 {
	height: 0;
	overflow: hidden;
	background-color: #FFFFB3;
}

.menu>li:hover {
	transition-duration: 0.5s;
}

.menu>li:hover .submenu1 {
	height: 250px;
	transition-duration: 1s;
}