@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.shopconer {
	width: 1050px;
	margin: auto;
}

a.sh_a {
	width: 178px;
	text-align: center;
}

.sh_a:link {
	color: black;
}

.sh_a:visited {
	color: black;
}

.sh_a:hover {
	color: #F15F5F;
}

.sh_ta{
	border-collapse: collapse;
    margin-top: 30px;
}

.sh_a2{
	border-color: white;
	margin-right: 5px;
}

ul.sh_menu{
	display: flex;
    justify-content: center;
}

.sh_menu li {
	float: left;
	list-style: none;
	background: #ffba75;
	position: relative;
}

.sh_menu li a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 0.5em 1em;
}

.sh_menu li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.sh_menu li ul li {
	float: none;
}

.sh_menu li ul li ul {
	left: 100%;
	top: 0;
}

.sh_menu li:hover {
	background: #0080ff;
}

.sh_menu li:hover>ul {
	display: block;
}

.sh_menu:after {
	content: "";
	display: table;
	clear: both;
}

/* .sh_item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	font-size: 20pt;
	row-gap: 25px;
	list-style: none;
} */

/* .sh_header {
	text-align: center;
}

.sh_h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
} */

.sh_meat_main {
	margin-top: 80px;
	flex-flow: row wrap;
	display: flex;
	justify-content: space-between;
}

.sh_meat_middle {
	padding-top: 20px;
	clear: both;
	display: flex;
	justify-content: space-between;
}


.conerimg {
    width: 340px;
    height: 405px;
}
