* {
	margin: 0px;
	padding: 0px;
}

.sh_a {
	text-decoration: none;
	font-size: 25px;
	color: black;
}

.sh_a:hover {
	color: #0100FF;
}

.sh_header {
	width: 1050px;
	overflow: hidden;
	margin: 150px auto;
	list-style: none;
	margin: 0px;
}

.sh_header>li {
	width: 20%;
	float: left;
	text-align: center;
	line-height: 40px;
	background-color: #FFCDFF;
}

.sh_submenu>li {
	line-height: 50px;
}

.sh_submenu {
	height: 0;
	overflow: hidden;
	background-color: #FFFFB3;
}

.sh_header>li:hover {
	transition-duration: 0.5s;
}

.sh_header>li:hover .sh_submenu {
	height: 250px;
	transition-duration: 1s;
}

.shopall {
	width: 1050px;
	margin: auto;
}

.sh_h2 {
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
	font-size: 40px;
}

.sh_main_top {
	display: flex;
	justify-content: space-around;
}

.sh_main_middle {
	padding-top: 20px;
	clear: both;
	display: flex;
	justify-content: space-around;
}

.sh_product {
	display: inline;
}

.sh_main_image {
	padding: 10px;
}

.sh_img>img {
	width: 250px;
	height: 300px;
}