@charset "EUC-KR";

* {
	margin: 0px;
	padding: 0px;
}

.sh_Editmain {
	width: 1040px;
	height: 1300px;
	margin: 0px auto;
	padding-left: 5px;
	padding-right: 5px;
}

.sh_left {
	float: left;
	margin-top: 50px;
}


.sh_Edit {
	width: 790px;
	height: 1000px;
	padding: 20px;
	box-sizing: border-box;
	float: right;
}


#sh_Editpage {
	margin-top: 20px;
	margin-bottom: 15px;
}


#sh_Editmenutd {
	width: 177px;
	text-align: center;
}

#sh_EditinputArea {
	border-spacing: 10px;
	font-size: 20px;
}