* {
	margin: 0px;
	padding: 0px;
}

.shopPurchase {
	width: 1050px;
	margin: auto;
}

a.sh_a {
	width: 178px;
	text-align: center;
}

.sh_a:link {
	color: #D1B2FF;
}

.sh_a:visited {
	color: black;
}

.sh_a:hover {
	color: #F15F5F;
}

.sh_me {
	width: 1050px;
}

.sh_me ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.sh_me li {
	float: left;
	list-style: none;
	background: #ff8080;
	position: relative;
}

.sh_me li a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 0.5em 1em;
}

.sh_me li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 13.1em;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.sh_me li ul li {
	float: none;
}

.sh_me li ul li ul {
	left: 100%;
	top: 0;
}

.sh_me li:hover {
	background: #0080ff;
}

.sh_me li:hover>ul {
	display: block;
}

.sh_me:after {
	content: "";
	display: table;
	clear: both;
}

.sh_img_cab {
	margin-top: 37px;
	margin-left: 37px;
	width: 530px;
	height: 530px;
}

.sh_purimg {
	display: flex;
	justify-content: space-between;
}

.sh_productex {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 20px;
}

.sh_Ex {
	margin-top: 33px;
	margin-right: 44px;
}

.sh_pacakge {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sh_Num {
	margin-top: 20px;
	margin-bottom: 20px;
}

.sh_sumprice {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 20px;
	margin-bottom: 10px;
}

.sh_point {
	display: flex;
	justify-content: flex-end;
	color: #979797;
}

.sh_noti {
	display: flex;
	justify-content: flex-end;
}

.sh_box {
	display: block;
	margin-top: 20px;
	width: 265px;
	height: 55px;
	text-align: center;
	background-color: #FFD9EC;
	border-radius: 10px;
	border: none;
	font-size: 17pt;
	font-family: Lucida Console, Courier, monospace;
	font-weight: 500;
}

.sh_steamed {
	align-items: flex-end;
	margin-right: 10px;
	margin-top: 40px;
}

#sh_productprice {
	font-family: Lucida Console, Courier, monospace;
}

#sh_principal {
	font-size: 25pt;
	font-weight: bolder;
}

#sh_amount {
	margin-left: 53px;
}

#sh_s {
	margin-right: 213px;
	margin-left: 50px;
}

#sh_p {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 20pt;
	font-family: monospace;
	font-weight: 900;
}

#sh_penmanship {
	color: #BDBDBD;
	font-family: Lucida Console, Courier, monospace;
}

#sh_title {
	font-size: 23pt;
	font-family: fantasy;
	margin-top: 5px;
	margin-bottom: 6px;
}

#sh_ice {
	margin-right: 217px;
}

#sh_pen {
	color: #8C8C8C;
	margin-top: 6px;
	margin-bottom: 6px;
}

#sh_kg {
	margin-right: 218px;
}

#sh_domestic {
	margin-right: 197px;
}

#sh_im {
	margin-right: 19px;
}

#sh_boundary {
	background: #D5D5D5;
	height: 1px;
	border: 0;
}