@charset "UTF-8";

  *  {
  			margin: 0px;
  			padding: 0px;
  	 }
  
  .item{
  		display: grid;
  	
  }
  
  .item{
		grid-template-columns: 1fr 1fr 1fr 1fr;
  		grid-template-rows: 1fr 1fr;
  }
  
  ul{
  		list-style: none;
  }
  
