@charset "UTF-8";

.insert_homelogo{
	margin-top : 50px;
	display : flex;
	justify-content : center;
	align-items : center;
	}

.insert_top{
	margin-top : 50px;
}

.insert_h2{
	text-align:center;
}

.insert_wrap{
	display:flex; 
	justify-content:center;
	text-align : center;
	font-family : sans-serif;
	}

.insert_inWrap{
	vertical-align : center;
	margin : 20px;
	padding : 20px;
	width : 600px;
	border-radius : 5px;
}

.insert_inputext{
	width : 400px;
	height : 40px;
	border : 1px solid #dddddd;
	text-align : center;
	padding : 0;
	border-radius : 5px;
}

.insert_add{
	width : 400px;
	height : 42px;
	color : white;
	border : none;
	background-color : #FFA428;
	border-radius : 5px;
}

.insert_gender_in{
	display : flex;
	flex-direction: row;
	justify-content : center;
}

.insert_insert_b{
	margin : 0;
	width : 100px;
	height : 42px;
	color : white;
	border : none;
	background-color : #FFA428;
	box-sizing : content-box;
	padding : 0px;
	border-radius : 5px;
}

#insert_agree{
	margin-left : 50px;
	margin-right : 50px;
	border-radius : 5px;
}

#insert_agree_in{
	display : flex;
	flex-direction : row;
	justify-content : center;
}

#insert_insert{
	width : 100px;
	height : 42px;
	color : white;
	border : none;
	background-color : #FFA428;
	border-radius : 5px;
}

#insert_cellph{
	box-sizing : content-box;
	width : 400px;
	height : 42px;
	text-align : center;
	color : white;
	background-color : #FFA428;
	padding : 0px;
	border-radius : 5px;
	border : none;
}






/* 이메일 유효성 */
.insert_emailNone{
	color : red;
	display : none;
}

.insert_emailHave{
	color : red;
	display : none; 
}

.insert_emailFalse{
	color : red;
	display : none;
}

.insert_emailTrue{
	color : green;
	display : none; 
}


/* 휴대폰 유효성*/
.insert_phoneNone{
	color : red;
	display : none;
}

.insert_phoneHave{
	color : red;
	display : none;
}

.insert_phoneFalse{
	color : red;
	display : none;
}

.insert_phoneTrue{
	color : green;
	display : none;
}


/*아이디 유효성*/
.insert_idNone{
	color : red;
	display : none;
}

.insert_idHave{
	color : red;
	display : none; 
}

.insert_idFalse{
	color : red;
	display : none;
}

.insert_idTrue{
	color : green;
	display : none; 
}


/* 비밀번호 유효성 */
.insert_pwNone{
	color : red;
	display : none;
}

.insert_pwFalse{
	color : red;
	display : none;
}

.insert_pwTrue{
	color : green;
	display : none;
}


/* 비밀번호 재검사 */
.insert_repwNone{
	color : red;
	display : none;
}

.insert_repwFalse{
	color : red;
	display : none;
}

.insert_repwTrue{
	color : green;
	display : none;
}


/* 이름 유효성 */
.insert_nameNone{
	color : red;
	display : none;
}

.insert_nameFalse{
	color : red;
	display : none;
}

.insert_nameTrue{
	color : green;
	display : none;
}


/* 주소 유효성 */
.insert_addrNone{
	color : red;
	display : none;
}

/* 동의사항 유효성 */
.insert_agreeNone{
	color : red;
	display : none;
}

