@charset "UTF-8";

.insert_homelogo{
	margin-top : 50px;
	display : flex;
	justify-content : center;
	align-items : center;
	}

.insert_head{
	margin-top : 50px;
}

.insert_h2{
	text-align:center;
}

.insert_border{
	display:flex; 
	justify-content:center;
	text-align : center;
	font-family : sans-serif;
	}

.insert_inborder{
	vertical-align : center;
	margin : 20px;
	padding : 20px;
	width : 600px;
	border-radius : 5px;
}

.insert_inputext{
	width : 400px;
	height : 40px;
	border : 1px solid #dddddd;
	text-align : center;
	padding : 0;
	border-radius : 5px;
}

.insert_inputext_b{
	margin : 0 10px 0 0;
	width : 290px;
	height : 40px;
	border : 1px solid #dddddd;
	text-align : center;
	padding : 0;
	border-radius : 5px;
}

.insert_add{
	width : 400px;
	height : 42px;
	color : white;
	border : none;
	background-color : salmon;
	border-radius : 5px;
}

.insert_gender_in{
	display : flex;
	flex-direction: row;
	justify-content : center;
}

.insert_insert_b{
	margin : 0;
	width : 100px;
	height : 42px;
	color : white;
	border : none;
	background-color : salmon;
	box-sizing : content-box;
	padding : 0px;
	border-radius : 5px;
}

#insert_term{
	margin-left : 50px;
	margin-right : 50px;
	border-radius : 5px;
}

#insert_term_in{
	display : flex;
	flex-direction : row;
	justify-content : center;
}

#insert_insert{
	width : 100px;
	height : 42px;
	color : white;
	border : none;
	background-color : salmon;
	border-radius : 5px;
}

#insert_cellph{
	box-sizing : content-box;
	width : 400px;
	height : 42px;
	text-align : center;
	color : white;
	background-color : salmon;
	padding : 0px;
	border-radius : 5px;
	border : none;
}









/* 중복아이디 존재하지 않는경우 */
	.insert_re1{
		color : green;
		display : none;
	}
	/* 중복아이디 존재하는 경우 */
	.insert_re2{
		color : red;
		display : none;
	}


