@charset "UTF-8";

 #login_outborder{
	width : 1050px; 
	margin : auto;
	}

.login_img{
	
	}

.login_a{
	text-decoration-line : none;
	color : black;
	}

#login_homelogo{
	margin-top : 50px;
	display : flex;
	justify-content : center;
	align-items : center;
	}

#login_inborder{
	flex:auto;
	width : 400px;
	margin : auto;
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	border : 1px solid #dddddd;
	}

#login_id{
	margin-top : 20px;
	width : 300px;
	height : 45px;
	border : 1px solid #dddddd;
	text-align : center;
	padding : 0;
	border-radius : 5px 5px 0px 0px;
	}

#login_pw{
	width : 300px;
	height : 45px;
	border : 1px solid #dddddd;
	text-align : center;
	padding : 0;
	border-radius : 0px 0px 5px 5px;
	}

#login_sub{
	margin-top : 50px;
	}
	
#login_sub2{
	margin-top : 50px;
	}

#login_link{
	width : 250px;
	display : flex;
	flex-direction: row;
	justify-content : space-around;
	align-items : center;
	margin : 20px;
	}

#login_search{
	margin-top : 20px;
	margin-bottom : 50px;
	width : 250px;
	font-size : 9px;
	display : flex;
	flex-direction : row;
	justify-content : space-around;
	text-decoration-line : none;
	color : #dddddd;
	flex : auto;
	align-items : center;
	}


#login_login{
	width : 300px;
	height : 47px;
	color : white;
	border : none;
	background-color : salmon;
	box-sizing : content-box;
	padding : 0px;
	border-radius : 5px;
	margin : 30px;
	}






/*
↓유효성 검사 관련 태그
*/

.login_idNone{
	color : red;
	display : none;
}

.login_pwNone{
	color : red;
	display : none;
}