@charset "UTF-8";

#main_outborder{
	width : 1050px;
	margin : auto;
}	


.main_display{
	display : flex;
	flex-direction: row;
	justify-content : space-between;
}

.main_display_expl{
	margin-top : 20px;
	margin-bottom : 20px;
}

.main_pic{
	width : 1050px;
	cursor : pointer;
}






/* 슬라이더 공통 */
.slider {
    position:relative;
}

.slider > .main_slidepages {
    text-align:center;
    position:absolute;
    bottom:5%;
    left:0;
    width:100%;
}

.slider > .main_slidepages > div {
    width:20px;
    height:20px;
    background-color:rgba(245,245,245,0.5);
    display:inline-block;
    cursor:pointer;
    transition:background-color 0.2s;
    border-radius:5px;
}

.slider > .main_slidepages > div:hover, .slider > .main_slidepages > div.active {
    background-color:rgba(255,255,255,1);
}

.slider > .slides > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity 2s;
}

.slider > .slides > div.active {
    opacity:1;
}

.slider > .side-btns > div {
    position:absolute;
    top:45%;
    left:0;
    width:50px;
    height:50px;
    background-color:rgba(225,225,225,0.9);
    cursor:pointer;
}

.slider > .side-btns > div:last-child {
    left:auto;
    right:0;
}

/* 슬라이더 1 */
.slider-1 {
    margin:0 auto;
    margin-top : 10px;
    margint-botton : 10px;
    width:1050px;
    height:500px;
}










#main_h2 {
	margin-bottom: 30px;
	margin-top: 50px;
	text-align: center;
	font-size: 40px;
}

.slick-prev{
	left: 160px;
    z-index: 1;
}
.slick-next{
	right: 160px;
    z-index: 1;
}


.main_slide_div img{
	margin: auto;
    background: #e6e9f6;
    width: 100%;
    height: 275px;
}

.slick-slide img {
    display: inline-flex;
}

.main_ArrayList{
    margin: auto;
    height: 275px;
    border: 1px solid #dadada;
}

.main_div_img{
    height: 60%;
    margin: auto;
    padding: 0 0 5% 0;
    display: flex;
    align-items: center;    
}

.main_NAME{
	text-align: center;
    font-size: 13px;
    color: #3e74ab;
}

.main_prodnum{
	text-align: center;
    font-size: 13px;
    color: #c0c0c0;
}

.main_discountprice{
	text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

.ls_div_content_prev{
	position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    left: 27px;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}

.ls_div_content_prev:hover{
	 opacity: 80%;
}

.ls_div_content_next{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 30px;
    right: 27px;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}
.ls_div_content_next:hover{
   opacity: 80%;
}


