@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
*{
    margin:0;
    padding:0;
}
#wrap{
    height: 100vh;
    weight:100%;
}
#container{
    margin-top:30px;
    weight:100%;
}
#content{
    width:1050px;
    margin:0 auto;
    position: relative;
}
#b_navigation{
    margin:0;
    display:flex;
    width:100%;
    height:56px;
    background: #FFFFF6;
    border: solid 1px #dddddd;
}
#b_navigation ul{
    list-style-type:none;
    margin:0 auto;
    padding:0px;
    overflow:hidden;
    height:58px;
}
#b_navigation li{
    float:left;
    margin:0 60px;
}

#b_navigation a:link,a:visited{
    display:block;
    width:100px;
    height:33px;
    font-weight:normal;
    color:#232323;
    font-family:sans-serif;
    text-align:center;
    padding:12px 5px 12px 5px;
    text-decoration:none;
}
.b_dropdown > a:hover,
.b_dropdown-content > a:hover{
    color:darksalmon;
    font-size: 1.2em;
    text:bolder;
}
#b_table > a:link{
    color:pink
}
#b_table > a:visited{
    color:greenyellow;
}
#b_table > a:hover{
    color:red
}
#b_table > a:active{
    color:green;
}

.b_dropdown-content > .b_menu:active{
    color:salmon;
    font-size: 1.2em;
    text:bolder;
}
.b_dropdown-content{
    background: #FFFFF6;
    display: none;
    position: absolute;
    border:solid 2px #dddddd;
    border-top:0;
}

.b_dropdown-content > a{
    display:block;
}
.b_dropdown:hover .b_dropdown-content{
    display: block;
}

#b_ul{
    list-style: none;
    color:black;
}
.board_title{
    display: block;
    margin: 20px 0;
    width:1050px;
    height: 140px;
}
.board_title > .header{
    height:70px;
    display: flex;
    align-items: center;
    margin:10px;
}
.tb_nav{
    border: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: center;
    height:50px;
    width:1050px;
}
.tb_nav a.b_tag:link,a.b_tag:visited{
    text-decoration:none;
}
.b_tag > .b_span:active{
    font-size:1.5em;
}
.b_show_view > a{
    background: #ffffff;
    border:0;
    font-size: 1.2em;
}
.b_show_view > a:hover
{
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.b_show_view > a:active{
    background: rgb(241,241,241);
}
#b_home{
    width:50px;
    height:100%;
}
#b_best{
    height:100%;
    width:860px;
    text-align: left;
    padding: 0 0 0 20px;
}
#b_show_view{
    width:65px;
    height:100%;
}
.b_thead{
    height:40px;
}
.tb_nav > tr,
.tb_nav > td,
.tb_nav > th{
    border: solid 1px #dddddd;
}

#board_main{
    display: flex;
    margin: 20px 0;
    width:1050px;
    height: auto;
    flex-direction: column;
}
#board_list{
    height:380px;
    width:100%;
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);*/
}
.tb_nav .blist{
    width:1050px;
}

#blt{
    height:44px;
    margin: 2px 0;
}
#b_list_btns{
    margin : 20px 0;
    width:1050px;
    height:100%;
    display : flex;
    justify-content: flex-end;
    align-items: center;
}
#btn_write{
    font-size:1.0em;
}
#board_footer{
    display: flex;
    height:auto;
    align-items: center;
    border-top:1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin:10px 0;
}
#b_search{
    height:40px;
    margin : 0 0 0 10px;
    display: flex;
    align-items: center;
}

.search_inside{
    margin:0;
    height:30px;
    display: flex;
    align-items: center;
}
#b_select{
    text-align: center;
    height:25px;
    width:90px;
    margin : 0 0 0 5px;
    font-size:1.0em;
    border: solid 1px #dddddd;
}

#b_so{
    height:23px;
    border: solid 1px #dddddd;
    border-right:0px;
    width:150px;
}
#search_btn{
    height: 25px;
    border:1px solid #dddddd;
    border-left:0;
    width:23px;
    color:#212121;
    cursor:pointer;
}
#search_btn:hover, #abc:hover{
    background: aliceblue;
}
#search_btn:active {
    background: #FFFFFF;
}


#btn_write {
    text-align: center;
}

#btn_write {
    width: 80px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 20px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#btn_write:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#btn_write:focus {
    outline: none;
}

#btn_write {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

#b_paging {
    margin : 20px 0;
    display: flex;
    font-size: 20px;
}
#b_ps{
    margin : 0 auto;
    width : 360px;
    display:flex;
}
.b_pagingBtn{
    margin:0 5px;
}
.b_pageNum:active{
    color:green;
}
.b_list{
    height:40px;
    border:1px solid #dddddd;
}
#pagination{
    display:flex;
    justify-content: center;
    margin: 10px 0;
}
#pagination > * {
    margin-right: 8px;
    cursor: pointer;

    line-height: normal;
    padding: 4px 6px 4px 6px;
    border-radius: 20%;
}

#pagination > .select {
    background-color: #E0EBFF;
}
#b_tbody > tr{
    cursr:pointer;
}
#b_tbody > tr:hover{
    cursr:pointer;
    background-color: #E8F5FF;
}
.blist td{
    padding: 6px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #E0EBFF;
}

.blist_title{
    width:700px;
    text-align: center;
    padding:0 0 0 10px;
}
.blist_date{
    width:100px;
    text-align:center;
}
.blist_user{
    width:85px;
    text-align:center;
}
.blist_cnt{
    width:85px;
    text-align:center;
}
.blist_bno{
    width:130px;
    text-align:center;
}
#b_tbody > tr > td{
    text-align: center;
    border: 1px solid #dddddd;
}
.cursorPoint{
    cursor:pointer;
    background:none;
    border:none;
    font-size:1.2em;
}
.cursorPoint:active{
    font-size:1.5em;
}
.blist_vote{
    width:85px;
    text-align:center;
}