@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
*{
    margin:0;
    padding:0;
}
#wrap{
    height: 100vh;
    width:100%;
}
#container{
    height: 800px;
}
#content{
    width:1050px;
    margin:0 auto;
    position: relative;
}
.cm-search{
    display: flex;
    justify-content: space-between;
}
.search_inside{
    margin:0;
    height:30px;
    display: flex;
    align-items: center;
}
#b_select{
    text-align: center;
    height:34px;
    margin : 0 0 0 5px;
    font-size:1.0em;
    border: solid 1px #dddddd;
    align-items: center;
    vertical-align: center;
    padding:4px 5px;
}

#b_so{
    height:34px;
    border: solid 1px #dddddd;
    border-right:0px;
    width:150px;
}
#search_btn{
    border:1px solid #dddddd;
    border-left:0;
    color:#212121;
    cursor:pointer;
    height: 34px;
    width:34px;
}
#search_btn:hover, #abc:hover{
    background: rgb(255,247,238);
}
#search_btn:active {
    background: #FFFFFF;
}

#btn_write {
    width: 80px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border-radius: 20px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size:1.0em;
}
#btn_write:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#btn_write:focus {
    outline: none;
}
#pagination{
    display:flex;
    justify-content: center;
    margin: 10px 0;
}
#pagination * {
    margin-right: 8px;
    cursor: pointer;

    line-height: normal;
    padding: 4px 6px 4px 6px;
    border-radius: 20%;
}

#pagination .select {
    background-color: rgb(255,164,40);
}

.cursorPoint{
    cursor:pointer;
    background:none;
    border:none;
}
#pagination > .page-hide{
    display: none;
}
#cm-table-session{
    width:784px;
    margin: 7px 0 15px 0;
}
.cm-table{
    width:784px;
    max-width:784px;

    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    text-align:center;

}
.cm-content{
    max-width:314px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.cm-title{
    width: 314px;
    max-width:314px;
}
.cm-thead{
    height:40px;
}
.cm-bno, .cm-cnt, .cm-vote{
    width:90px;
}
.cm-date, .cm-id{
    width:100px;
}
.detail {
    height: 40px;
}
.detail:hover{
    background: rgb(255,247,238);
    cursor: pointer;
}
#cm_popular{
    margin:0 0 0 20px;
}
.cm-table-nav:hover{
    background: rgb(255,247,238);
}
.cm-table-nav:active{
    background: rgb(255,240,200);
}
.cm-flex{
    display: flex;
}
.cm-menus{
    cursor:pointer;
    font-size:1.5em;
}
.cm-menus:hover{
    background: #FFEBC1;
    color:orange;
    font-weight: bold;
}
#cm-table-foot{
    display:flex;
    justify-content: flex-end;

}
#cm-btn{
    justify-content: flex-end;
}