@charset "EUC-KR";


* {
	margin : 0px;
	padding : 0px;
	
	}

#container {
		width:802px;
		height:1300px;
		margin:0px auto;
		padding-left:5px;
		padding-right:5px;
	}

#main {
		width:802px;
		height:1200px;

}


table {
	width : 800px;
	margin : 0px auto;

	}

.label {
	width : 200px;
	height : 24px;
	background-color : rgba(255, 234, 234);
	text-align : center;
	}

.label_answer {
	width : 600px;
	padding-left : 30px;
	background-color : rgba(255, 252, 252)
	}

textarea {
	width : 800px;
	height : 400px;
	margin : 0px auto;
	margin-top : 10px;
	}

.text {
	width : 800px;
	height : 400px;
	}

#question {
	vertical-align : top;
	padding : 20px;
	}

h3 {
	width : 800px;
	margin : 0px;
	padding : 25px 0px;
	text-align : center;
	}
	

hr {
	color : rgba(234, 234, 234);
	}



.but {
	padding : 5px;
	}

#button {
	width : 90px;
	margin : 0px auto;
}

#answer {
	vertical-align:top;
	padding-top:15px;
}