@charset "EUC-KR";


	









/* table */












.text {
	width : 748px;
	height : 400px;
	}
	
#content {
	padding : 10px;
	box-sizing : border-box;
}

	
textarea {
	width : 748px;
	height : 400px;
	margin : 0px auto;
	}

.but {
	padding : 5px;
	}

#tel {
	width : 200px;
	height : 24px;
	box-sizing : border-box;
	padding-left : 10px;
}

select {
	height : 24px;
}

#button {
	width : 42px;
}


