@charset "UTF-8";

* {
	margin : 0px;
	padding : 0px;
	
	}
	
	
.NOTI_container {
		width:1050px;
		height:1400px;
		margin:0px auto;
		padding-left:5px;
		padding-right:5px;
	}

.NOTI_main {
		width:1050px;
		height:1400px;
		

}





.NOTI_searchbox {
	position : inline;
	width : 500px;
	height : 30px;
	margin-top : 50px;
	margin : 0px auto;
}




.NOTI_select {
    width: 85px; /* 원하는 너비설정 */
    
    padding: .5em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 3px;
  /*   -webkit-appearance: none; 네이티브 외형 감추기
    -moz-appearance: none;
    appearance: none; */
}



.NOTI_searchTd {
	display : inline;
    padding: 6px 13px 6px 13px;
    border: solid #999 1px;
    vertical-align:middle;
    border-radius: 3px;
}

.NOTI_searchBar {
    width: 300px;
    height: 20px;
    border : 0px;
    vertical-align:middle;
    margin-bottom: 4px;
}

.NOTI_mag {
    height: 20px;
    width: 20px;
	vertical-align:middle;
	margin-bottom: 4px;
}








/*
	DirectKing_answer
	DirectQue_detail
 */
/* 
헤더메뉴
.NOTI_table > td{
	border : solid 1px rgb(234, 234, 234);
	border-collapse : collapse;
} 
 */

.NOTI_label {
	width : 200px;
	height : 34px;
	background-color : rgb(252, 252, 252);
	text-align : center;
	}

.NOTI_label_answer {
	width : 1040px;
	height : 34px;
	padding-left : 30px;
	/* background-color : rgba(255, 252, 252) */
	}
	
.NOTI_detailText{
	padding : 20px;
	vertical-align:top;
}
	

.NOTI_textarea {
	width : 1050px;
	height : 380px;
	margin : 0px auto;
	margin-top : 10px;
	border : none;
	padding-left : 10px;
	box-sizing : border-box;
	}
	
	
.check_css {
	color : gray;
	font-size : 15px;
}


.NOTI_text {
	width : 1004px;
	height : 400px;
	padding : 20px;
	vertical-align : top;
	}




.NOTI_bigTitle {
	text-align : center;
	margin-top : 20px;
	margin-bottom : 20px;
	}
	


.NOTI_but {
	width : 70px;
	height : 32px;
	padding : 5px;
	display : inline;
	margin-top : 10px;
	margin-bottom : 10px;
	border : solid 1px rgb(234, 234, 234);
	background-color: rgb(255, 255, 255);
	
	}

.NOTI_button {
	width : 120px;
	height : 40px;
	margin : 0px auto;
	display : inline;
}


.NOTI_Sbutton {
	width : 70px;
	margin : 0px auto;
	display : inline;
}

#divTest{
	width : 150px;
	height : 50px;
	margin : 0px auto;

	

}







/*
	DirectKing
*/

.NOTI_King_container {
	width:1040px;
	height:1300px;
	margin:0px auto;
	padding-left:5px;
	padding-right:5px;
}

.NOTI_King_main {
	margin-top:50px;
}


.NOTI_King_main_left {
	float : left;
}

.NOTI_King_main_center {
	
	width : 790px;
	height : 1000px;
	padding : 20px;
	box-sizing : border-box;
	float : right;	
}




.NOTI_leftBar > li {
	
	width : 200px;
	border : solid 1px rgb(234, 234, 234);
	padding-left : 20px;
	padding-top : 15px;
	padding-bottom : 15px;
	padding-right : 0px;
	margin : 0px;

}

.NOTI_a {
	color : black;
	text-align:center;
}


.NOTI_notice_lable{
	
	font-size : 50px;
	
}

.NOTI_King_select {
	height : 24px;
	margin-bottom : 10px;
}


.NOTI_bar {
	width : 790px;
}

.NOTI_title_effect{
	text-align : center;
	height:51px;
}




#NOTI_title{
	width : 490px;
	text-align : center;

}

#NOTI_regdate{
	width : 120px;
	text-align : center;
}

#NOTI_check{
	width : 120px;
	text-align : center;
}



/*
	DirectQue
 */
.NOTI_Que_main_center {
	
	width : 750px;
	height : 1000px;
	padding : 20px;
	box-sizing : border-box;
	float : right;	
}
 
 
.NOTI_Que_lable {
	width : 750px;
	text-align:center;
	margin-top:10px;
	padding-bottom : 10px;
	border-bottom : solid gray 1px;
}

.NOTI_Que_Table, .NOTI_Que_Table td {
	
	border-bottom : solid 1px rgb(234, 234, 234);
	border-collapse : collapse;
	
	
}

.NOTI_Que_select {
	height : 24px;
	padding-left : 10px;
	margin-left : 10px;
}

.NOTI_Tel{
	
	width : 200px;
	height : 24px;
	box-sizing : border-box;
	padding-left : 10px;
	
}


.NOTI_Que_Textarea{
	width : 748px;
	height : 400px;
	margin : 0px auto;
	margin-top : 10px;
	padding : 10px;
	border : none;
	box-sizing : border-box;
}
 
.NOTI_Que_title_effect{
	border-bottom : solid 1px rgb(234, 234, 234);
	text-align:center;
	height : 51px;
}

#NOTI_Que_category{
	
	width : 120px;
	text-align : center;
}


#NOTI_Que_title{
	width : 750px;
	height : 22px;
	margin-top : 10px;
	margin-bottom : 7px;
	box-sizing : border-box;
	padding-left : 10px;
	border : none;
}


#NOTI_Que_regdate{
	width : 120px;
	text-align : center;
}

#NOTI_Que_check{
	width : 120px;
	text-align : center;
}

.NOTI_NoAnswer{
	width : 1045px;
	height : 50px;
	text-align : center;
}


.NOTI_a {
	text-decoration : none;
	color : black;
}




/*
	Notice_write
	QnA_write
 */
 
 
 
 	
.NOTI_WriteTitle {
	width : 1040px;
	height : 22px;
	padding : 5px;
	margin-left : 5px;
	border : none;
	}
 
 
 
 /*
	Notice
	QnA
 */
 




.NOTI_list_no{
	width : 60px;
	height: 36px;
	text-align : center;
	vertical-align :middle;
}

.NOTI_list_title{
	height : 51px;
	width : 490px;
	text-align : center;

}

.NOTI_list_writer{
	width : 120px;
	height : 51px;
	text-align : center;
}


.NOTI_list_regdate{
	width : 120px;
	text-align : center;
}

 