@charset "EUC-KR";

* {
	margin : 0px;
	padding : 0px;
	
	}
	

#container {
		width:1050px;
		height:1300px;
		margin:0px auto;
		padding-left:5px;
		padding-right:5px;
		box-sizing : border-box;
	}

#main {
		width:1050px;
		height:1200px;
		box-sizing : border-box;
}

h3 {
	margin : 20px;
	text-align : center;
}


table {
	width : 1050px;
	margin : 0px auto;

	}

textarea {
	width : 1050px;
	height : 400px;
	margin : 0px auto;
	margin-top : 10px;
	margin-bottom : 10px;
	box-sizing : border-box;
	}
	
.text {
	width : 1050px;
	height : 400px;
	box-sizing : border-box;
	}
	
#title {
	width : 1050px;
	height : 22px;
	margin-top : 10px;
	box-sizing : border-box;
}

#content {
	
	padding : 10px;
	
}

#button {
	width : 90px;
	margin : 0px auto;
}

.but {
	padding : 5px;
	}
