<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.CommonCodeMapper">
    <select id="selectMenu" resultType="com.food.model.CommonCodeVo" parameterType="com.food.model.CommonCodeVo">
        select cd, cd_nm
        from cm_code
        where cd_grp = #{cd_grp}
    </select>
</mapper>