<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.mapper.CommunityMapper">
    <insert id="boardWrite">
        insert into tb_community(title, context)
        values(#{title},#{context})
    </insert>

<!--    <select id="list" resultType="com.food.model.BoardVO">-->
<!--        select *-->
<!--        from (-->
<!--                 select @rownum:=@rownum+1 rownum, b.* from board b, (select @rownum:=0) tmp-->
<!--                 order by bno desc-->
<!--             ) list-->
<!--        <![CDATA[-->
<!--        where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum} * #{amount}-->
<!--        ]]>-->
<!--    </select>-->

    <select id="boardList" resultType="com.food.model.CommunityVO">
        select
            bno, title, context, date_format(mod_dt, '%m-%d') mod_dt, cnt, user_id
        from tb_community
        order by bno desc
    </select>


    <select id="total" resultType="int" parameterType="com.food.model.CommunityVO">
        select count(*) from board
    </select>

    <select id="boardDetail" resultType="com.food.model.CommunityVO">
        select bno, title, context, user_id
        from tb_community
        where bno= #{bno}
    </select>

    <update id="cntup">
        update tb_community
        set cnt = cnt + 1
        where bno = #{bno}
    </update>

    <update id="modify">
        update tb_community set
                         title=#{title}, content=#{content}
        where bno=#{bno}
    </update>

    <delete id="remove">
        delete from tb_community
        where bno=#{bno}
    </delete>
</mapper>





