<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.mapper.CommunityMapper">
    <insert id="insertCommunity" parameterType="com.food.model.CommunityVO">
        insert into tb_community(title, context, user_id, menus)
        values (#{title}, #{context}, #{user_id}, #{menus})
    </insert>

    <select id="selectCommunityOne" parameterType="java.lang.String" resultType="com.food.model.CommunityVO">
        SELECT bno
             , title
             , context
             , date_format(reg_dt, '%m-%d') reg_dt
             , cnt
             , user_id
             , vote
        FROM tb_community
        WHERE bno = #{value}
    </select>

    <sql id="communityListSQL">
        select
        tb.bno, tb.title, date_format(tb.reg_dt, '%m-%d') reg_dt, tb.cnt, tb.user_id, tb.vote
        from tb_community tb, cm_code cm
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            and tb.menus = cm.cd
            and cm.cd_grp = 'CM004'
            and cm.cd = #{cd}
        </trim>

        order by bno desc
    </sql>

    <sql id="communityRankListSQL">
        select
        tb.bno, tb.title, date_format(tb.reg_dt, '%m-%d') reg_dt, tb.cnt, tb.user_id, tb.vote
        from tb_community tb, cm_code cm
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            and tb.menus = cm.cd
            and cm.cd_grp = 'CM004'
            and cm.cd = #{cd}
        </trim>
        order by vote desc, reg_dt desc
    </sql>

    <select id="selectBoardList" parameterType="com.food.model.ReqPageVO" resultType="com.food.model.CommunityVO">
        <include refid="communityListSQL"/>
        <include refid="commonSql.pagingSuffix"/>
    </select>

    <select id="selectBoardRankList" parameterType="com.food.model.ReqPageVO" resultType="com.food.model.CommunityVO">
        <include refid="communityRankListSQL"/>
        <include refid="commonSql.pagingSuffix"/>
    </select>

    <select id="selectCommunityCount" parameterType="com.food.model.ReqPageVO" resultType="java.lang.Integer">
        SELECT count(*)
        FROM (<include refid="communityListSQL"/>) as A
    </select>

    <select id="rowCount" parameterType="com.food.model.CommunityVO" resultType="int">
        select auto_increment
        from information_schema.tables
        where table_name = 'tb_community'
          and table_schema = database()
    </select>

    <update id="putCommunity" parameterType="com.food.model.CommunityVO">
        update tb_community
        set title=#{title},
            context=#{context},
            mod_dt = now()
        where bno = #{bno}
    </update>

    <delete id="deleteCommunity">
        delete
        from tb_community
        where bno = #{bno}
    </delete>

    <update id="cntUp">
        update tb_community
        set cnt = cnt + 1
        where bno = #{bno}
    </update>

    <update id="votePlus">
        update tb_community
        set vote = vote + 1
        where bno = #{bno}
    </update>

    <update id="voteMinus">
        update tb_community
        set vote = vote - 1
        where bno = #{bno}
    </update>
</mapper>





