<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.food.mapper.CustomerMapper">
    <select id="getCustomerList" parameterType="com.food.model.ReqCustomerVO" resultType="com.food.model.CustomerVO">
        select id
             , password
             , name
             , age
        from customer
    </select>
</mapper>
