<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.MypageMapper">

	<resultMap type="com.food.model.CommunityReplyVO" id="sqlmyreply">
		<id property="rno" column="rno"/>
		<id property="context" column="Recontext"/>
		<id property="reg_dt" column="Rereg_dt"/>
		<id property="user_id" column="Reuser_id"/>
		<id property="bno" column="Rebno"/>
	</resultMap>
	
	<resultMap type="com.food.model.MypageVO" id="Mypage">
		<collection property="reply" resultMap="sqlmyreply"/>
	</resultMap>

	<select id="mypage" resultType="com.food.model.UserVO">
		select * from tb_user where user_id=#{user_id}
	</select>
	
	<select id="profile" resultType="com.food.model.UserVO">
		select * from tb_user where user_id=#{user_id}
	</select>
	
	<update id="edit">
		update tb_user set 
			user_pw=#{user_pw},
			user_zip=#{user_zip}, user_addr1=#{user_addr1},
			user_addr2=#{user_addr2}, user_phone=#{user_phone}, 
			user_email=#{user_email}
		where tb_user.user_id=#{user_id}
	</update>
	
	<delete id="resignPost">
		delete from tb_user 
		where user_id=#{user_id}		
	</delete>

	<select id="cartlist" resultType="com.food.model.CartVO">
		select c.*, 
				sh.NAME as s_name,
				sh.CONTENT as s_content,
				sh.price2 as s_price,
				sh.price2*c.c_cnt as c_sumprod
		from tb_cart c left outer join tb_shop sh 
		on c.c_prodnum=sh.prodnum
		where c.user_id = #{user_id}
		order by c_dt desc
	</select>
	
	<update id="cartmodify">
		update tb_cart set c_cnt=#{c_cnt} where c_no=#{c_no} 
	</update>

	<delete id="cartdelete">
		delete from tb_cart where c_no=#{c_no}
	</delete>
	
	<select id="findCartImg" resultType="com.food.model.CartVO">
		select sha.prodnum as prodnum,
				sha.division as division,
		        sha.uuid as uuid,
		        sha.uploadPath as uploadPath,
		        sha.filename as filename,
		        c.c_prodnum as c_prodnum	
		from sh_appatch sha left outer join tb_cart c
		on sha.prodnum = c.c_prodnum
		where sha.division=&apos;m&apos;
		and c.c_prodnum=#{c_prodnum}
	</select>
	
	<select id="findListImg" resultType="com.food.model.OrderlistVO">
		select sha.prodnum as prodnum,
				sha.division as division,
		        sha.uuid as uuid,
		        sha.uploadPath as uploadPath,
		        sha.filename as filename,
		        o.o_prodnum as o_prodnum
		from sh_appatch sha left outer join tb_orderlist o
		on sha.prodnum = o.o_prodnum
		where sha.division=&apos;m&apos;
		and o.o_prodnum=#{o_prodnum}
	</select>
	
	<insert id="order">
		insert into tb_orderlist(o_prodnum, o_cnt, o_sum, user_id, o_type)
		values(#{c_prodnum}, #{c_cnt}, #{c_sumprod}, #{user_id}, &apos;order&apos;)
	</insert>
	
	<select id="orderlist" resultType="com.food.model.OrderlistVO">
		select orderlist.*,
				date_format(orderlist.o_dt, '%m/%d') as o_date,
				sh.NAME as s_name,
				sh.CONTENT as s_content,
				sh.price2 as s_price
		from (
			select @rownum:= @rownum+1 rownum, o.*
			from tb_orderlist o, (select @rownum:=0) as tmp
			<if test="user_id !=null">
				where user_id=#{user_id} and o_type=&apos;order&apos;
			</if>
			
			order by o_no desc 
			)
		as orderlist left outer join tb_shop sh
		on orderlist.o_prodnum = sh.prodnum
		<![CDATA[
		where rownum >(#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>			
	</select>

	<select id="orderlistCnt" resultType="int">
		select count(*) from tb_orderlist
		where user_id=#{user_id} and o_type=&apos;order&apos;
	</select>
	
	<select id="canclePage" resultType="com.food.model.OrderlistVO">
		select o.*,
				date_format(o_dt, '%m/%d') as o_date,
				sh.NAME as s_name,
				sh.CONTENT as s_content,
				sh.price2 as s_price
		from tb_orderlist o left outer join tb_shop sh
		on o.o_prodnum = sh.prodnum
		where o.user_id = #{user_id} and o_no=#{o_no}
	</select>
	
	<update id="ordercancle">
		update tb_orderlist 
		set o_type=&apos;cancle&apos;, o_opt=#{o_opt}, o_canclewhy=#{o_canclewhy}
		where o_no=#{o_no}
	</update>
	
	<select id="canclelist" resultType="com.food.model.OrderlistVO">
		select orderlist.*,
				date_format(orderlist.o_mod_dt, '%m/%d') as o_mod_date,
				sh.NAME as s_name,
				sh.CONTENT as s_content,
				sh.price2 as s_price
		from (
			select @rownum:= @rownum+1 rownum, o.*
			from tb_orderlist o, (select @rownum:=0) as tmp
			<if test="user_id !=null">
				where user_id=#{user_id} and o_type=&apos;cancle&apos;
			</if>
			
			order by o_mod_dt desc 
			)
		as orderlist left outer join tb_shop sh
		on orderlist.o_prodnum = sh.prodnum
		<![CDATA[
		where rownum >(#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>	
	</select>
	
	<select id="canclelistCnt" resultType="int">
		select count(*) from tb_orderlist
		where user_id=#{user_id} and o_type=&apos;cancle&apos;
	</select>
			
	<select id="mywrite" resultType="com.food.model.MypageVO">
		select * 
		from (
				select @rownum:= @rownum+1 rownum, co.*
				from tb_community co, (select @rownum:=0) as tmp	
	
			<if test = "user_id != null">
             	where user_id=#{user_id}
            </if>
			<if test = "keyword != null">
             	and title like concat('%',#{keyword},'%')
            </if>
            						
			order by reg_dt desc
			 ) as mywrite
			 <![CDATA[
			 where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			 ]]>
	</select>

	<select id="myreply" parameterType="com.food.model.CommunityReplyVO" resultType="com.food.model.MypageVO">
		select *
		from (
			select @rownum:=@rownum+1 rownum, re.*
			from tb_community_reply re, (select @rownum:=0) as tmp
	
			<if test = "user_id != null">
             	where user_id=#{user_id}
            </if>
	
		    order by rno desc
		) as reply
		<![CDATA[
		where rownum >(#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
	</select>
	
	<select id="mylike" parameterType="com.food.model.VoteVo" resultType="com.food.model.MypageVO">
		select likelist.*, co.*  
		from (
			select @rownum:= @rownum+1 rownum, v.*
			from tb_vote v, (select @rownum:=0) as tmp
			
			<if test="user_id != null">
				where user_id = #{user_id}
			</if> 
		
		order by bno desc 
		)as likelist left outer join tb_community co
		on likelist.bno = co.bno
		<![CDATA[
		where rownum >(#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
	</select>
	
	<select id="liketotal" resultType="int">
		select count(*) from tb_vote
		where user_id=#{user_id}
	</select>
	
	<select id="retotal" resultType="int">
		select count(*) from tb_community_reply
		where user_id=#{user_id}
	</select>
	
	<select id="replycnt" resultType="int">
		select count(*) as replycnt 
		from tb_community_reply
		where bno=#{bno}
	</select>
	
	<select id="total" resultType="int">
		select count(*) from tb_community 
		<if test="user_id != null and user_id !=''">
			where user_id=#{user_id}
		</if>
		<if test = "keyword != null">
            and title like concat('%',#{keyword},'%')
        </if>						
	</select>
	
	<select id="mywritedetail" resultType="com.food.model.MypageVO">
		select * from tb_community where bno=#{bno}
	</select>
  
</mapper>