<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.MypageMapper">

	<resultMap type="com.food.model.CommunityReplyVO" id="sqlmyreply">
		<id property="rno" column="rno"/>
		<id property="context" column="Recontext"/>
		<id property="reg_dt" column="Rereg_dt"/>
		<id property="user_id" column="Reuser_id"/>
		<id property="bno" column="Rebno"/>
	</resultMap>
	
	<resultMap type="com.food.model.MypageVO" id="Mypage">
		<collection property="reply" resultMap="sqlmyreply"/>
	</resultMap>
	

	<select id="mypage" resultType="com.food.model.UserVO">
		select * from tb_user where user_id=#{user_id}
	</select>
	
	<select id="profile" resultType="com.food.model.UserVO">
		select * from tb_user where user_id=#{user_id}
	</select>
	
	<update id="edit">
		update tb_user set 
			user_pw=#{user_pw},
			user_zip=#{user_zip}, user_addr1=#{user_addr1},
			user_addr2=#{user_addr2}, user_phone=#{user_phone}, 
			user_email=#{user_email}
		where tb_user.user_id=#{user_id}
	</update>
	
	<delete id="resignPost">
		delete from tb_user 
		where user_id=#{user_id}		
	</delete>
	
	<select id="mywrite" resultType="com.food.model.MypageVO">
		select * 
		from (
				select @rownum:= @rownum+1 rownum, co.*
				from tb_community co, (select @rownum:=0) as tmp	
	
			<if test = "user_id != null">
             	where user_id=#{user_id}
            </if>
			<if test = "keyword != null">
             	and title like concat('%',#{keyword},'%')
            </if>
            						
			order by reg_dt desc
			 ) as mywrite
			 <![CDATA[
			 where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			 ]]>
	</select>
	
	<select id="total" resultType="int">
		select count(*) from tb_community 
		<if test="user_id != null and user_id !=''">
			where user_id=#{user_id}
		</if>
		<if test = "keyword != null">
            and title like concat('%',#{keyword},'%')
        </if>						
	</select>
	
	<select id="mywritedetail" resultType="com.food.model.MypageVO">
		select * from tb_community where bno=#{bno}
	</select>

	<select id="bno" resultType="int">
		select bno from tb_community
		<if test="user_id != null and user_id !=''">
			where user_id=#{user_id}
		</if>		
	</select>
	
	
	<select id="myreply" parameterType="com.food.model.MypageVO" resultType="com.ring.model.CommunityReplyVO">
		select * 
		from tb_community_reply

			<if test = "user_id != null">
             	where user_id=#{user_id}
            </if>				
			order by reg_dt desc
	</select>

	
  
</mapper>