<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.NotiBoardMapper">
	
	<!-- 게시글 목록 -->
	<select id="list" resultType="com.food.model.NotiBoardVO">
		select *
		from(
			select @rownum:= @rownum+1 rownum, n.*
			from tb_notice n, (select @rownum:=0) as tmp
			
			<if test = "keyword != null">
                <choose>
                   <when test="type == 'T'.toString()">
                      where title like concat('%',#{keyword},'%')
                   </when>
                   <when test="type == 'C'.toString()">
                      where context like concat('%',#{keyword},'%')
                   </when>
                   <otherwise>
                      where title like concat('%',#{keyword},'%')
                      or context like concat('%',#{keyword},'%')
                   </otherwise>
                </choose>
             
            </if>
			
			order by bno desc
		) as boardlist
		
		<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
	
	</select>
	
	
	<!-- 게시글 상세보기 -->
	<select id="detail" resultType="com.food.model.NotiBoardVO">
		select * from tb_notice where bno=#{bno}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="modify">
		update tb_notice
		set title=#{title}, context=#{context}
		where bno=#{bno}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="remove">
		delete from tb_notice
		where bno=#{bno}
	</delete>
	
	<!-- tb_notice테이블 전체 글 수 -->
	<select id="total" resultType="int">
		select count(*) from tb_notice
		
			<if test="keyword != null">
	            <choose>
	               <when test="type == 'T'.toString()">
	                  where title like concat('%',#{keyword},'%')
	               </when>
	               <when test="type == 'C'.toString()">
	                  where context like concat('%',#{keyword},'%')
	               </when>
	               <otherwise>
	                  where title like concat('%',#{keyword},'%')
	                  or context like concat('%',#{keyword},'%')
	               </otherwise>
	            </choose>
	         </if>
		
	</select>

	
	<!-- 게시글 글쓰기 -->
	<insert id="write">
	insert into tb_notice (title, context, reg_dt, user_id, BoldTitle)
	values(#{title}, #{context}, CURDATE(), #{user_id}, #{boldtitle});
	</insert>
	
	
	
	
</mapper>