<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.ShopMapper">


	<!-- 상품등록(일대일 이미지라 같이 넣음) -->
	<insert id="Shopenroll">
	
	 	<selectKey keyProperty="prodnum" order="BEFORE" resultType="int">
			select ifnull(max(prodnum),0)+1 prodnum
			from tb_shop;
  		</selectKey>
	
		insert into	tb_shop(prodnum,NAME,Origin,subcontent,CONTENT,price2,discountprice,Parcel,packaging,unit,boundary,detail)
		value(#{prodnum},#{NAME},#{Origin},#{subcontent},#{CONTENT},#{discountprice},#{price2},#{Parcel},#{packaging},#{unit},#{boundary},#{detail});
	</insert>
		
		

	<insert id="ShopEdit">
		insert into
		tb_shop(prodnum,NAME,Origin,subcontent,CONTENT,price2,discountprice,Parcel,packaging,unit,boundary,detail)
		value(#{prodnum},#{NAME},#{Origin},#{subcontent},#{CONTENT},#{discountprice},#{price2},#{Parcel},#{packaging},#{unit},#{boundary},#{detail});
	</insert>



	<!-- 상품등록시 분류 -->
	<select id="class1" resultType="com.food.model.ShopdivisionVO">
		select distinct(class1) from
		sh_division
	</select>

	<select id="class2" resultType="com.food.model.ShopdivisionVO">
		select class2 from sh_division
		where class1=#{class1}
	</select>

	<!-- 상품리스트 -->
	<select id="list" resultType="com.food.model.ShopVO">
	select
	s.prodnum,Name,discountprice,today,Concat(Replace(uploadpath,'\\','/'),<![CDATA['/']]>,uuid,'-',filename)filename
	from tb_shop s,
	sh_appatch a
	where s.prodnum = a.prodnum
	order by prodnum asc;
	</select>
	
	

</mapper>