<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.ShopAttachMapper">


	<insert id="insert">
		insert into sh_appatch(prodnum,division,uuid,uploadPath,filename,image)
		value(#{prodnum},#{division},#{uuid},#{uploadPath},#{filename},#{image});
	</insert>

	<select id="Shopattachlist"
		resultType="com.food.model.ShopAttachVO">
		select*from sh_appatch where prodnum=#{prodnum}
	</select>

</mapper>