<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.ShopMapper">


	<!-- 상품등록(일대일 이미지라 같이 넣음) -->
	<insert id="Shopenroll">
	
	 	<selectKey keyProperty="prodnum" order="BEFORE" resultType="int">
			select ifnull(max(prodnum),0)+1 prodnum
			from tb_shop
  		</selectKey>
		insert into	tb_shop(prodnum,NAME,origin,subcontent,CONTENT,price2,discountprice,Parcel,packaging,unit,boundary,detail,class1,class2)
		value(#{prodnum},#{NAME},#{origin},#{subcontent},#{CONTENT},#{discountprice},#{price2},#{Parcel},#{packaging},#{unit},#{boundary},#{detail},#{class1},#{class2})
	</insert>
		
	<!-- 상품 분류 페이지 -->	
	<select id="shopcorner" resultType="com.food.model.ShopVO">
	SELECT 
	rownum,prodnum,class1,NAME,subcontent,division,Concat(Replace(uploadPath,'\\','/') ,<![CDATA['/']]>,uuid,'-' ,filename)AS filename, discountprice
		FROM  (
			SELECT   @rownum:=@rownum+1 rownum,a.* 
				FROM (SELECT * 
					FROM (
 						SELECT  t.prodnum,class1,NAME,subcontent,division,uuid,filename,uploadPath, discountprice
							FROM   tb_shop t  JOIN  sh_appatch s ON  t.prodnum = s.prodnum WHERE class1=#{class1} and image = 1 and division = 'm' )AS j ) AS a,(
										SELECT @rownum:=0) AS tmp ORDER BY prodnum DESC) AS balist
	</select>	
		
		
	<!-- 상품등록시 분류 -->
	<select id="class1" resultType="com.food.model.ShopdivisionVO">
		select distinct(class1) from
		sh_division
	</select>

	<select id="class2" resultType="com.food.model.ShopdivisionVO">
		select class2 from sh_division
		where class1=#{class1}
	</select>
		
	<!-- 상품수정 -->
	<update id="ShopEdit">
	update tb_shop inner join sh_appatch
	set
	NAME=#{NAME},
	CONTENT=#{CONTENT},
	price2=#{price2},
	discountprice=#{discountprice},
	subcontent=#{subcontent},
	detail=#{detail}
	where tb_shop.prodnum= #{prodnum};
	</update>

	<!-- 상품 편집 -->
	<select id="prodEdit" resultType="com.food.model.ShopVO">
	
		select*from  tb_shop where prodnum=#{prodnum}
	
	</select>

	
	<!-- 상품리스트(페이징 및 검색) -->
	<select id="list" resultType="com.food.model.ShopVO">
	select*
	from(
	select @rownum :=@rownum+1 rownum,s.*
	from (select
	s.prodnum,NAME,discountprice,today,Concat(Replace(uploadpath,'\\','/'),'/',uuid,'-',filename)filename
	from tb_shop s inner join sh_appatch a
	on s.prodnum = a.prodnum
	<if test = "keyword != null">
                <choose>
                   <when test="type == 'sh_Tp'.toString()">
                      where NAME like concat('%',#{keyword},'%') 
                   </when>
                   <when test="type == 'sh_Tk'.toString()">
                      where s.prodnum like concat('%',#{keyword},'%') 
                   </when>
                   <otherwise>
                     where (NAME like concat('%',#{keyword},'%')
                      or s.prodnum like concat('%',#{keyword},'%')) 
                   </otherwise>
                </choose>
            </if>
            order by s.prodnum desc
            )as s, (select @rownum:=0) as tmp) as
	shopProductlist
	<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount} 
		]]>
	

	</select>

	<!-- 상품리스트 총갯수 -->
	<select id="total" resultType="int">
	select count(*)
	from tb_shop t join sh_appatch s
	on t.prodnum = s.prodnum
	<if test = "keyword != null">
                <choose>
                   <when test="type == 'sh_Tp'.toString()">
                      and NAME like concat('%',#{keyword},'%') 
                   </when>
                   <when test="type == 'sh_Tk'.toString()">
                      and s.prodnum like concat('%',#{keyword},'%') 
                   </when>
                   <otherwise>
                     where (NAME like concat('%',#{keyword},'%')
                      or s.prodnum like concat('%',#{keyword},'%')) 
                   </otherwise>
                    </choose>
            </if>
</select>




<!-- 쇼핑몰 메인 내용 -->
<select id="ShopSelect" resultType="com.food.model.ShopVO">
SELECT 
	rownum,prodnum,NAME,subcontent,division,Concat(Replace(uploadPath,'\\','/') ,<![CDATA['/']]>,uuid,'-' ,filename)AS filename, discountprice
FROM  (
		SELECT   @rownum:=@rownum+1 rownum,a.* 
		FROM (SELECT * 
					FROM (
 						SELECT  t.prodnum,NAME,subcontent,division,uuid,filename,uploadPath, discountprice
							FROM   tb_shop t  JOIN  sh_appatch s ON  t.prodnum = s.prodnum WHERE  image = 1 and division = 'm' )AS j ) AS a,(
										SELECT @rownum:=0) AS tmp ORDER BY prodnum DESC) AS balist
</select>


<!-- 상품 상세내용 -->

<select id="main" resultType="com.food.model.ShopVO">
SELECT 
	rownum,prodnum,NAME,subcontent,division,CONTENT,origin,Parcel,packaging,unit,detail,boundary,Concat(Replace(uploadPath,'\\','/') ,'/',uuid,'-' ,filename)AS filename, discountprice
FROM  (
		SELECT   @rownum:=@rownum+1 rownum,a.* 
		FROM (SELECT * 
					FROM (
 						SELECT  t.prodnum,NAME,subcontent,division,origin,uuid,filename,uploadPath ,discountprice  ,CONTENT,Parcel,packaging,unit,detail,boundary                                       
							FROM   tb_shop t  JOIN  sh_appatch s ON  t.prodnum = s.prodnum WHERE  t.prodnum= #{prodnum} and division = 	'm' )AS j ) AS a,(
										SELECT @rownum:=0) AS tmp ORDER BY prodnum DESC) AS balist
;
</select>


<select id="sub" resultType="com.food.model.ShopVO">
SELECT 
	rownum,prodnum,NAME,subcontent,division,CONTENT,Parcel,packaging,unit,detail,origin,boundary,Concat(Replace(uploadPath,'\\','/') ,'/',uuid,'-' ,filename)AS filename, discountprice
FROM  (
		SELECT   @rownum:=@rownum+1 rownum,a.* 
		FROM (SELECT * 
					FROM (
 						SELECT  t.prodnum,NAME,subcontent,division,uuid,filename,uploadPath ,origin,discountprice  ,CONTENT,Parcel,packaging,unit,detail,boundary                                       
							FROM   tb_shop t  JOIN  sh_appatch s ON  t.prodnum = s.prodnum WHERE t.prodnum= #{prodnum} and division = 	's' )AS j ) AS a,(
										SELECT @rownum:=0) AS tmp ORDER BY prodnum DESC) AS balist
;
</select>


<!-- 문의 관련 -->
<select id="shopDetail" resultType="com.food.model.ShopquestionVO">
select*
	from(
	select @rownum :=@rownum+1 rownum,s.* 
			from( select* from sh_question where prodnum=#{prodnum} 
            			order by prodnum desc
            									)as s, (select @rownum:=0) as tmp) as shopEnswer
<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
		
 
</select>

<select id="shopEnDetail" resultType="com.food.model.ShopquestionVO">
	select * from sh_question where prodnum=#{prodnum}  and bno=#{bno} 
</select>

<!-- 글쓰기 -->
<insert id="write">

	insert into sh_question (prodnum,bno, context, title,  NAME, user_id, today)
	values(#{prodnum},#{bno}, #{context}, #{title}, #{NAME}, #{user_id}, now())

</insert>

<select id="total2" resultType="int">
	select count(*) from sh_question where prodnum = #{prodnum}
</select>

<!-- 관리자 답변 -->
<insert id="answer">
	
update sh_question
set answer = #{answer}
where prodnum = #{prodnum}
and bno = #{bno}
	
</insert>

</mapper>