<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.ShopMapper">

	<insert id="Shopenroll">
		insert into
		tb_shop(prodnum,NAME,KIND,subcontent,CONTENT,useyn,price2,discountprice,IMG_NAME,Parcel,packaging,unit,Origin,Import,boundary,detail)
		values(#{prodnum},#{NAME},#{KIND},#{subcontent},#{CONTENT},#{useyn},#{discountprice},#{price2},#{IMG_NAME},#{Parcel},#{packaging},#{unit},#{Origin},#{Import},#{boundary},#{detail})
	</insert>

	<insert id="ShopEdit">
		insert into
		tb_shop(prodnum,NAME,KIND,subcontent,CONTENT,useyn,price2,discountprice,IMG_NAME,Parcel,packaging,unit,Origin,Import,boundary,detail)
		values(#{prodnum},#{NAME},#{KIND},#{subcontent},#{CONTENT},#{useyn},#{discountprice},#{price2},#{IMG_NAME},#{Parcel},#{packaging},#{unit},#{Origin},#{Import},#{boundary},#{detail})
	</insert>

	<select id="shopdivision"
		resultType="com.food.model.ShopdivisionVO">
		select distinct(class1) from sh_division
	</select>
	
	<select id="shopdivision2"
		resultType="com.food.model.ShopdivisionVO">
	
		select class2 from sh_division
		where class1=#{class1}
		
	</select>



</mapper>




