#header{
    width:100%;
    border-bottom:1px solid #dddddd
}
#header_main{
    width:1050px;
    margin : 0 auto;
}


#h_banner{
    margin:30px;
}


#h_search{
    display: flex;
    width: 384px;
    height: 46px;
    align-items: center;
}

.h_searchTd {
    padding: 13px;
}
#h_searchBar {
    width: 300px;
    height: 20px;
}

#h_mag {
    height: 20px;
    width: 20px;
}
.h_navBox{
    display: block;
    padding: 20px;
    collapse: none;
}
#h_menu{
    margin:0 auto;
}
#h_s1{
    display:flex;
    justify-content: center;
    margin:5px 0;
    padding-top:10px;
    clear : both;
}
.h_nav{
    padding:10px 70px;
}

.h_but{

	font-size:13px;
	color: rgb(128, 128, 128);
	margin : 7px;
}

.h_loginbox{
	float : right;
	margin:10px 10px;
	height : 20px;
/* 	display : inline; */
	
}


.h_loginmsg{
	font-size:15px;
	margin-right : 10px;
}