@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	
}

#my_con {
	width: 1050px;
	margin: 0px auto;
	padding: 10px;
}

#main {
	display: flex;
	justify-content: center;
}

#my_con div {
	margin: 5px;
}

#my_con a {
	text-decoration: none;
}

#my_con table{
	padding : 5px;
}

#page_title {
	display:flex;
	justify-content: center;
	font-size:150%;
	background-color:#ff8080;
}

#my_profile {
	display: flex;
	justify-content: center;
	align-items:center;
}
#my_con img{
	height: 100px;
}

#my_con #center{	
	width:500px;
	border:1px solid;
}

#go_watched{
	background-color:#ffcbb3;
}

.mypage_center_go{
	display: flex;
	justify-content: space-between;
}

.mypage_go{
	width:200px;
	border:1px solid;
	padding:10px;
	text-align:center;
}

#order{
	width:300px;
	height:30px;
	background-color:#ffcbb3;
}