@charset "UTF-8";

body {
	width:100%;
	margin: 0px;
	padding: 0px;

}

#my_con {
	width: 1050px;
	margin : 25px auto;

}

#my_main {
	margin:auto;
	display: flex;
	justify-content: space-around;

}

#my_side_left {
	margin: 5px;
	padding: 5px;
}

#my_con a {
	text-decoration: none;
}

#my_con table{
	padding : 5px;
}


#my_title{
	margin:0px 0px 5px 0px;
	padding: 15px;
	position:relative;
	background-color:#ff8080;	
	border-radius:15px;
}

#my_titleim{
	max-height:60px;
	padding:5px 30px 5px 0px;	
	vertical-align:middle;

}

#my_titlep{
	position:absolute;
	width:100%;
	font-size:25px;
	top:50%;
	left:50%;
	text-align:right;
	transform:translate(-60%, -50%);
	color: rgb(75, 75, 75);
}
#my_menu > div{
	width : 200px;
	border : solid 1px rgb(234, 234, 234);
	padding: 15px 0px 15px 20px;
	margin : 0px;
}

#my_con img{
	height: 100px;
}

#my_center{	
	width:700px;
	border:1px solid rgb(234, 234, 234);
	padding: 15px;
	margin : 10px;
	
}

#my_side_right{
	width:200px;
}

/* mypage */

.my_center_go{
	display: flex;
	justify-content: space-evenly;
}

.my_go{
	width:200px;
	height:100px;
	border:1px solid rgb(234, 234, 234);
	padding: 15px;
	margin : 10px;
	position:relative;
	border-radius:15px;
}

.my_th image{
	width:100%;
	vertical-align:middle;

}

.my_intexttop, .my_intextmid, .my_intextlow{
	position:absolute;
	width:100%;
	padding:5px;
	top:50%;
	left:45%;
	text-align:right;
	transform:translate(-50%, -50%);
	color:#ff8080;
}

/* orderlist
canclelist 
*/

.my_order1{
	border: 1px solid rgb(234, 234, 234);
	margin:10px 0;
}

.my_order1 > table{
	width:100%;

}

#order{
	width:300px;
	height:30px;
	background-color:#ffcbb3;
}



/* cart */

#my_cartlist{
	border:1px solid rgb(234, 234, 234);
	width:100%;
	text-align:center;
}

#my_cartlist, #my_cartlist td{
	border:1px solid rgb(234, 234, 234);
	text-align:center;
}

#my_cartEmpty{
	border:1 solid rgb(234, 234, 234);
	width:100%;
	text-align:center;
}

#my_tableHead{
	border:none;	
	background-color:#ffcbb3;
}

.my_cnt{
	width:30px;
	height:20px;
	font-size:15px;
	text-align:center;
}

#my_cartCon{
	font-size:65%;
	color:#c0c0c0;
	font-weight:bold;
}

#my_cartAll{
	font-size:25px;
	background-color:#ffcbb3;
	border:none;
	border-radius:10px;
	margin:5px;
	padding:10px;
}

#my_cartpay_Tb{
	margin:auto;
	width:50%;
	text-align:center;
}

#my_cartpay_Tb >tr{
	height:30px;
}

#my_cartpay_Tb >tr>td{
	background-color:#ffcbb3;	
	font-weight:bold;
	font-size:20px;
	border:none;
	border-radius:10px;	
}

/* delivery */


/* mylike */
#my_like{
	border : solid 1px rgb(234, 234, 234);
	width:100%
}

#my_like td{
	border : solid 1px rgb(234, 234, 234);
	padding: 5px;
}



/* myreply */
#my_reply{
	border : solid 1px rgb(234, 234, 234);
	width:100%;
}

#my_reply td{
	border : solid 1px rgb(234, 234, 234);
}

#my_Tsize1{
	width:80px;
	text-align:center;
}

#my_Tsize2{
	width:400px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	max-width:380px;
}

#my_Tsize3{
	width:110px;
	font-size:80%;
}

.my_fsmall{
	font-size:50%;
	font-weight:bold;
	color:rgb(234, 234, 234);
}

/* mywrite */
#my_write{
	border : solid 1px rgb(234, 234, 234);
	width:100%
}

#my_write td{
	border : solid 1px rgb(234, 234, 234);
}

#my_paging{
	display: flex;
	justify-content: space-between;
}

/* ordercancle */
#my_ordercancle{
	border: 1px solid rgb(234, 234, 234);
	margin:0px 0px 20px;
}

#my_ordercancle_Tb{
	width:100%;
}

#my_ordercancle_why{
	border: 1px solid rgb(234, 234, 234);
	width:100%;
	text-align:center;
}

#my_ordercancleRadio{
	background-color:#ff8080;
	font-weight:bold;
}

#my_cancleDetail{
	width:100%;
	padding:5px;
	font-weight:bold;
	color:#ff8080;	
}

/* orderdetail */
.my_orderdetail{
	border:1px solid rgb(234, 234, 234);
	margin: 20px 0px;
	
}

.my_orderdetail_Tb{
	width:100%;
	
}

#my_orderdetail_pay>table{
	margin:auto;
	border:1 rgb(234, 234, 234);
	width:80%;
}

.my_orderdetailTB{
	text-align:center;
	padding:5px;
	font-weight:bold;
	color:#ff8080;
}

/* orderlist */
.my_orderDate{
	width:100%;
	padding:5px;
	font-weight:bold;
	color:#ff8080;	
}

.my_orderImg{
	width:100px;
	border:1px solid rgb(234, 234, 234);
}

.my_orderCon{
	font-size:65%;
	color:#c0c0c0;
	font-weight:bold;
	text-align:center;
}

#my_orderlist{
	margin:15px;
	width:95%;
	border:1px solid rgb(234, 234, 234);
}

.my_orderTb{
	width:auto;
	text-align:center;
}

/*  orderrefund */
#my_orderrefund{
	border: 1px solid rgb(234, 234, 234);
	margin: 0px 0px 20px;
}

#my_orderrefund_Tb{
	width:100%;
}

#my_orderrefund_why{
	border: 1px solid rgb(234, 234, 234);
	width:100%;
	text-align:center;
}

.my_refundOpt{
	background-color:#ff8080;
	font-weight:bold;
	padding:10px;
}

#my_refundDetail{
	width:100%;
	padding:5px;
	font-weight:bold;
	color:#ff8080;	
}

/* profile_edit */
#my_profile_edit{
	margin:auto;
	border:1px solid rgb(234, 234, 234);
	width:80%;
	font-size:20px;
}

.my_edit_td{
	width:120px;
	background-color:#ff8080;
	font-size:15px;
	text-align:center;
	border-radius:15px;
}


#my_resign_btn{
	float:right;
	margin: 10px;
}


/* myresign */
#my_resign{
	width:100%;
}
#my_resign_txt{
	text-align:center;
}

#my_resign_go{
	float:right;
}

/* mykeep */

.my_keep{
	border: 1px solid rgb(234, 234, 234);
	margin:10px 0;
}

.my_keep>table{
	width:100%;

}

/* myreview */

.my_review{
	border: 1px solid rgb(234, 234, 234);
	margin:10px 0;
}

.my_review>table{
	width:100%;

}